<html>
  <head>
    {{> head}}
  </head>
  <body>
    {{> navbar}}
    {{> defaultContent}}
    <!-- JavaScript    ================================================== -->
    {{> tail}}
  </body>
</html>
