<html>
  <head>
    {{> head}}
  </head>
  <body>
    {{> navbar}}
    <div class="container">
    </div> 
    <!-- JavaScript    ================================================== -->
    {{> tail}}
  </body>
</html>
