<!-- Main component for a primary marketing message or call to action -->
{{# .}}
<div id="main" class="container">  
  <div class="jumbotron">
    <h1>{{headLine}}</h1>
    {{# paragraph}}
    <p>
      {{# href}}<a role="{{role}}" href="{{href}}" class="{{#role}}{{a_tag_class}}{{/role}}">{{description}}</a>{{/ href}}
      {{^ href}}{{description}}{{/ href}}
    </p>
    {{/ paragraph}}
  </div>
</div><!-- /container -->
{{/ .}}
