{{# .}}
<div class="page-header">
<h1>{{formName}}</h1>
</div>
{{# form}}
<form action="{{action}}" class="form-horizontal" role="form">
  {{# inputs}}
      {{# text}}
      <div class="form-group">
        {{# attr}}
        <label class="col-sm-2 control-label" for="{{id}}">{{name}}</label>
        <div class="col-sm-10">
        <input type="{{type}}" class="form-control" id="{{id}}" placeholder="{{placeholder}}">
        </div>
        {{/ attr}}
      </div>
      {{/ text}}
      {{# checkbox}}
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  {{# attr}}
                  <input type="{{type}}" value="{{value}}">{{name}}
                  {{/ attr}}
                </label>
              </div>
          </div>
      </div>
      {{/ checkbox}}
      {{# button}}
      {{# attr}}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <button type="{{type}}" class="btn btn-default" value="{{value}}">{{name}}</button>
        </div>
      </div>
      {{/ attr}}
      {{/ button}}
    {{/ inputs}}
</form>
{{/ form}}
{{/ .}}
